@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #003366;
}
.wrapper{
    width: 605px;
    background: #fff;
    border-radius: 15px;
    padding: 30px 30px 25px;
}
.wrapper header{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    font-family: Open sans;
    color:#003366;
}
.wrapper .content{
    margin: 35px 0;
}
.content .quote-area{
    display: flex;
    justify-content: center;
}
.quote-area i{
    font-size: 15px;
}
.quote-area i:first-child{
    margin: 3px 10px 0 0;
}
.quote-area i:last-child{
    display: flex;
    align-items: flex-end;
    margin: 0 0 3px 10px;
}
.quote-area .quote{
    font-size: 24px;
    text-align: center;
    word-break: break-all ;
    color:#132020;
}
.content .author{
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
}
.author span:first-child{
    margin: -7px 5px 0 0;
    font-family: ğ‘»ğ’šğ’‘ğ’† ğ’”ğ’ğ’ğ’†ğ’•ğ’‰ğ’Šğ’ğ’ˆ ğ’•ğ’ ğ’”ğ’•ğ’‚ğ’“ğ’•;
    color:#800000;
    font-weight:bold;
}
.wrapper .buttons{
    border-top: 1px solid #ccc;
}
.buttons .feautures{
    display: flex;
    align-items: center;
    margin-top: 20px;
   
}
.features ul{
    display: flex;
    margin-top:20px
}
.features ul li{
    list-style: none;
    margin: 0 5px;
    height: 47px;
    width: 47px;
    display: flex;
    color: #5372F0;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #5372F0;
    transition: all 0.3s ease;
}
.features ul li:hover{
    color: #fff;
    background: #5372F0;
}
.features button{
    border : none;
    outline: none;
    padding: 13px 22px;
    background-color: #181b27;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    justify-content: right;
}
button .loading{
    opacity: 0.7;
    pointer-events: none;
}
.button1{
    text-align: right;
}



























